<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
  <title>Perfecto API</title>
</head>

<body>
  <h1 class="text-center my-5">PERFECTO API</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12">
        <table class="table table-striped table-responsive table-borderless table-hover w-100">
          <thead>
            <tr>
              <th>Name</th>
              <th>Varietal</th>
              <th>Vintage</th>
              <th>Size</th>
              <th>Region</th>
              <th>Country</th>
              <th>Case Price</th>
              <th>Case Size</th>
            </tr>
          </thead>
          <tbody>
            {% for wine in wines %}
            <tr>
              <td>
                {{wine.name}}
              </td>
              <td>{{wine.varietal}}</td>
              <td>{{wine.vintage}}</td>
              <td>{{wine.size}}</td>
              <td>{{wine.region}}</td>
              <td>{{wine.country}}</td>
              <td>{{wine.case_price}}</td>
              <td>{{wine.case_size}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>